<div class="publications">
  <ul class="pub-list">
    {% for pub in site.data.publications.main %}
    <li>
      <span class="title">{{ pub.title }}</span><br>
      {{ pub.authors }}
      {%- if pub.arxiv %}, <a href="{{ pub.arxiv }}">arXiv:{{ pub.arxiv | split: '/' | last }}</a>{% endif %}
      {%- if pub.link %}, <a href="{{ pub.link }}">{{ pub.journal }}</a>{% endif %}
      {%- if pub.year %} ({{ pub.year }}){% endif %}
      {%- if pub.notes %}, {{ pub.notes }}{% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
